.claimform {
  max-width: 33%;
  max-height: 800px;
  font-size: 16px;
  background-color: #000033;
  color: white;

  margin: 0 auto;
  padding: 12px;
  border-radius: 4%;
}

.popup {
  max-width: 33%;
  height: 140px;
  font-size: 18px;
  color: #000033;
  border: 2px solid #ffa20e;
  border-radius: 8%;
  margin: 0 auto;
  padding: 12px;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
}

.red-border {
  border: 2px solid red;
}

/*dialog {
  width: 400px;
  height: 240px;
  border: 2px solid #ffa20e;
}*/

button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #ff4f00;
  border: 2px solid #ffa20e;
  border-radius: 20%;
  margin: 12px;
  display: inline-flexbox;
}

input {
  color: #ff4f00;
  width: 500px;
}
